.container {
  display: flex;
  gap: 100px;
  align-content: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.refresh-title {
  display: flex;
  align-items: baseline;
  gap: 1.25rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr-one {
  width: 12.5rem;
  border-top: 1px solid red;
}

.list {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-left: 0;
  box-shadow: 1px 1px 3px 3px black;
}

.list-item {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  height: 2.5rem;
}

.gray {
  display: flex;
  gap: 1.25rem;
  background-color: rgb(188, 184, 184);
  justify-content: space-between;
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  height: 2.5rem;
}

.btn-refresh {
  box-shadow: 10px 11px 3px -5px rgba(0, 0, 0, 1);
  height: 1.875rem;
  border-radius: 10px;
}

.submit {
  box-shadow: 10px 11px 3px -5px rgba(0, 0, 0, 1);
  width: 5rem;
  margin-left: 5rem;
}

.right-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.25rem;
}

.user {
  outline: none;
}
